body {
    background: hsl(192, 37%, 60%);
    padding: 50px;
}

.icon:hover .animation-layer {
    opacity: 1;
    animation: dash 1.9s ease-in-out forwards;
}

.icon .animation-layer {
    stroke: #fff; 
    animation: dash-out 1.9s ease-in-out forwards;
}
.icon:hover .layer-2.animation-layer {
    animation-delay: 1.8s;

}
.icon .layer-2.animation-layer {
    animation-delay: 0s;
}

/* .icon:hover .layer-1.animation-layer {
    animation-delay: 0s;

}
.icon .layer-1.animation-layer {
    animation-delay: 1s;
} */


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    from {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-2-out {
    from {
        stroke-dashoffset: 0;
    }
}
